<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/medikidslogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/medikidslogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalculadoraDosificadora"
        tools:targetApi="31">
        <activity
            android:name=".VistaTitular.DetallesHistorialCitaActivity"
            android:exported="false" />
        <activity
            android:name=".VistaTitular.HistorialCitaActivity"
            android:exported="false" /> <!-- Actividad Principal (Login) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VistaMedico.Opciones.PerfilActivity"
            android:exported="false"
            android:label="Mi Perfil" />
        <activity
            android:name=".VistaMedico.Opciones.ConfiguracionActivity"
            android:exported="false"
            android:label="Configuración" />
        <activity
            android:name=".VistaMedico.Opciones.SeguridadActivity"
            android:exported="false"
            android:label="Seguridad" />
        <activity
            android:name=".VistaMedico.Opciones.NotificacionesActivity"
            android:exported="false"
            android:label="Notificaciones" />
        <activity
            android:name=".VistaMedico.Menu.ProtocolosActivity"
            android:exported="false"
            android:label="Protocolos y Guías" />
        <activity
            android:name=".VistaMedico.Menu.SobreNosotrosActivity"
            android:exported="false"
            android:label="Sobre Nosotros" />
        <activity
            android:name=".VistaMedico.Menu.SoporteActivity"
            android:exported="false"
            android:label="Soporte Técnico" /> <!-- Actividades de Vista Médico -->
        <activity
            android:name=".VistaMedico.Menu.PrincipalActivity"
            android:exported="true" />
        <activity
            android:name=".VistaMedico.VistaMedico"
            android:exported="true" />
        <activity
            android:name=".VistaMedico.CuentaNueva.CrearCuentaMedico"
            android:exported="true" />
        <activity
            android:name=".VistaMedico.CuentaNueva.CrearMedicoDos"
            android:exported="true" /> <!-- Actividades de Citas (Vista Médico) -->
        <activity
            android:name=".VistaMedico.Acciones.AgendaActivity"
            android:exported="true" />
        <activity
            android:name=".VistaMedico.Acciones.AgregarCitaActivity"
            android:exported="true" />
        <activity
            android:name=".VistaMedico.Acciones.DetallesCitaActivity"
            android:exported="true" /> <!-- Nuevas Actividades de Historial de Citas -->
        <activity
            android:name=".VistaMedico.Acciones.HistorialCitasActivity"
            android:exported="true" />
        <activity
            android:name=".VistaMedico.Acciones.DetallesHistorialCitaActivity"
            android:exported="true" />
        <activity
            android:name=".VistaMedico.Acciones.CalculadoraPediatricaActivity"
            android:exported="false"
            android:label="Calculadora Pediátrica" />
        <activity
            android:name=".VistaMedico.Acciones.AtenderCitaActivity"
            android:exported="false"
            android:label="Atender Cita"
            android:parentActivityName=".VistaMedico.Acciones.DetallesCitaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VistaMedico.Acciones.DetallesCitaActivity" />
        </activity> <!-- NUEVAS ACTIVIDADES PARA TITULARES -->
        <activity
            android:name=".VistaMedico.Acciones.TitularesActivity"
            android:exported="false" />
        <activity
            android:name=".VistaMedico.Acciones.RegistrarTitularActivity"
            android:exported="false" />
        <activity
            android:name=".VistaMedico.Acciones.DetallesTitularActivity"
            android:exported="false" />
        <activity
            android:name=".VistaMedico.Acciones.ModificarTitularActivity"
            android:exported="false" /> <!-- Actividades de Vista Titular -->
        <activity
            android:name=".VistaTitular.VistaTitular"
            android:exported="true" />
        <activity
            android:name=".VistaTitular.AgendarCitasActivity"
            android:exported="true" />
        <activity
            android:name=".VistaTitular.AgendarCitasDosActivity"
            android:exported="true" />
        <activity
            android:name=".VistaTitular.CuentaNueva.CuentaNueva"
            android:exported="true" />
        <activity
            android:name=".VistaTitular.CuentaNueva.CrearCuentaTitular"
            android:exported="true" />
        <activity
            android:name=".VistaTitular.CuentaNueva.CrearTitularDos"
            android:exported="true" /> <!-- Otras Actividades -->
        <activity
            android:name=".BienvenidaActivity"
            android:exported="true" />
    </application>

</manifest>